<!-- <header class="navbar">
    <div class="logo">Online Parking Booking</div>
    <input type="text" class="search-bar" placeholder="Search for Parking Spots, Locations...">
    <button class="login-btn" onclick="window.location.href='login.html'">Sign In</button>
</header> -->

<!-- Main Content Area -->
<main>
    <router-outlet></router-outlet> <!-- Ensure Routed Components Render Here -->
</main>

<!-- Footer -->
<!-- <footer class="footer">
    <p>&copy; 2025 Online Parking Booking System | All Rights Reserved</p>
</footer> -->
